<div class="panel nav-tabs-horizontal task-control-panel">
    <div class="panel-body height-300 text-middle" style="text-align:center">
        <h1 style="margin-top:12%;" class="blue-grey-500">There are no tasks created for this project</h1>
        <h5 class="blue-grey-500">- Add task to see the overview -</h5>
    </div>
</div>
