
@{
    ViewBag.Title = "Welcome";
}

<div class="page-content animated animation-slide-top" ng-show="welcomeMessageState" ng-class="welcomeMsgAnimationState">
    <div style="margin-top: 20%; text-align:center; background-color:none">
        <h1 style="font-family: Calibri; font-size: 50px; color: #62A8EA;">Welcome to my Platform</h1>
        <p style="font-family: Calibri; font-size: 15px;">Create new project or select one from your project list to get started</p>
    </div>
</div>
